[submodule "yolo_service"]
	path = yolo_service
	url = git@github.com:ThiagoKS-7/yolo_service.git
[submodule "services/ocr_service"]
	path = services/ocr_service
	url = git@github.com:ThiagoKS-7/ocr_service.git
